@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,regular,500,600,700);

h4 {
  font-family: 'space grotesk', Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  /* text-decoration: underline; */
  margin-top: 5px;
}

.button {
  width: 80%;
  font-family: 'space grotesk', Arial, sans-serif;
}

.app-body {
    height: 100vh;
    background-color: #545252;
    padding: 10px;
    overflow: hidden;
}

.main-content {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.side-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 15vw;
    height: 100%;
}

.data-panel {
    width: 100%;
    height: auto;
    background-color: #b7b2b2;
    border: 2px solid white;
    border-radius: 20px;
  
}

.astro-panel {
  width: 100%;
  height: auto;
  background-color: #b7b2b2;
    border: 2px solid white;
    border-radius: 20px;
}

.map-container {
  height: 500px;
  width: 60%;
}
